{
    "editor.lineHeight": 32,
    "editor.fontSize": 15,
    "editor.fontWeight": "400",
    "editor.insertSpaces": false,
    "editor.tabSize": 4,
    "editor.formatOnSave": true,
    // "editor.autoClosingBrackets": "always",
    "editor.wordWrap": "wordWrapColumn",
    "editor.wordWrapColumn": 120,
    "workbench.activityBar.visible": false,
    "editor.fontLigatures": true,
    "editor.fontFamily": "'mononoki', 'monospace', monospace, 'Droid Sans Fallback'",
    "editor.letterSpacing": 0.2,
    "workbench.iconTheme": "vscode-icons",
    "workbench.colorTheme": "Monokai Pro (Filter Machine)",
    "editor.minimap.enabled": false,
    "workbench.sideBar.location": "right",
    "window.zoomLevel": 0,
    "vetur.format.options.useTabs": true,
    "vetur.format.options.tabSize": 4,
    "vetur.format.defaultFormatter.html": "prettyhtml",
    "vetur.format.defaultFormatter.css": "prettier",
    "vetur.format.defaultFormatter.postcss": "prettier",
    "vetur.format.defaultFormatter.scss": "prettier",
    "vetur.format.defaultFormatter.less": "prettier",
    "vetur.format.defaultFormatter.stylus": "stylus-supremacy",
    "vetur.format.defaultFormatter.js": "prettier",
    "vetur.format.defaultFormatter.ts": "prettier",
    "vetur.format.scriptInitialIndent": true,
    "emmet.includeLanguages": {
        "vue-html": "html"
    },
    "emmet.triggerExpansionOnTab": true,
    "emmet.showSuggestionsAsSnippets": true,
	"blade.format.enable": true,
}